@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
:root {
    --primaryColor: #030BA6;
    --secondaryColor-1: #3269D9;
    --bgColor-1: #F2B441;
    --bgColor-2: #D93D04;
    --footerColor: #F2E205;
    --padding: 8%;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 4rem;

}
.row{
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    overflow-x: hidden;
    margin-top: 4rem;
    padding: 5rem 0;
}
.row .imgWrapper{
    overflow: hidden;
}
.row .imgWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    cursor: pointer;
}
.row .imgWrapper:hover img{
    transform: scale(1.25);
}
.row .contentWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}
.row .contentWrapper span.textWrapper{
    color: #1f1f1f;
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
.row .contentWrapper span.textWrapper span{
    display: inline-block;
    background: var(--bgColor-1);
    width: 70px;
    height: 5px;
}
.row .contentWrapper h2{
    font-size: 40px;
    font-weight: 700;
    color: var(--bgColor-2);
    padding-bottom: 20px;
}
.row .contentWrapper p{
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 25px;
}
/* 
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("https://st.depositphotos.com/3095137/4804/v/600/depositphotos_48048247-stock-illustration-moroccan-pattern.jpg%22);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */



nav {
    color: grey;
    background-image: url("https://rare-gallery.com/uploads/posts/5397236-yellow-archway-wall-mosaic-arch-doorway-opening-architecture-arabic-entry-entrance-woom-room-interior-morroco-morrocan-morocco-tile-middle-east-room-empty-room-free-images.jpg");

    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 13vh;
    z-index: 1000;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.9;
    position: fixed;

}

nav img {
    height: 200px;
    width: 200px; 
    margin-top:-1.5rem; 
    margin-right:-300px;
    margin-left: 0.1rem;
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition: 0.2s;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;

}
nav ul li a {
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
    justify-content: space-between;
    align-items: center;
}


.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3.5px;
    bottom: 0;
    left: 0;
    background-color: var(--footerColor);
    transform-origin: bottom right;
    transition: transform 0.7s ease-in;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* :::: */
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3.5px;
    bottom: 0;
    left: 0;
    background-color: var(--bgColor-1);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: var(--bgColor-2);
    bottom: 15px;
    right: 20px; 
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
  }

  @keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/******************************************
******************REVEAL???????????
*******************************************/

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}