{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%static 'css/evenement.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon" type="image/png" href="{%static 'img/darJ.png'%}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GestMusee-Evénement</title>
</head>

<body>
    <header>
        <nav><img src="{%static 'img/home/darJ.png'%}">
            <ul id="action" style="margin-left:42%">
                <li><a href="home" class="hover-underline-animation">Acceuil</a></li>
            </ul>
          </nav>
    </header>
    <h1 id="titreE">Conférences Valables : </h1>
    {% for conf in conf.all %}
    <div class="row ">
        <div class="imgWrapper">
            <img src="{{ conf.image.url }}" alt="">
        </div>
        <div class="contentWrapper">
            <div class="content">
                <span class="textWrapper">
                    <span></span>{{ conf.date_debut }}, {{ conf_salle_names.0 }}
                </span>
                <h2>{{ conf.titre }}</h2>
                <h4>Conférencier : {{ conf.Conferencier }}</h4>
                <p>{{ conf.notes }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    <h1 id="titreE">Manifestations Valables : </h1>
    {% for manif in manif.all %}
    <div class="row ">
       
        <div class="contentWrapper">
            <div class="content">
                <span class="textWrapper">
                    <span></span>{{ manif.date_debut }}, {{ manif_salle_names.0 }}
                </span>
                <h2>{{ manif.titre }}</h2>
                <p>{{ manif.notes }}</p>
            </div>
        </div>
        <div class="imgWrapper">
            <img src="{{ manif.image.url }}" alt="">
        </div>
    </div>
    {% endfor %}
    <a class="gotopbtn" href="#"> <em class="fas fa-arrow-up"></em> </a>

  <script src="{%static 'js/oeuvres.js'%}" ></script>


</body>

</html>