<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>teeest Welcome, {{ user.first_name }} {{ user.last_name }}</p>
    {% if user.is_authenticated %}
    Welcome, {{ user.first_name }} {{ user.last_name }}
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}  
</body>
</html>



<!-- LINK DATA WHEN LOGIN WITH THE LOGIN PAGE -->