<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <input type="text" id="datepicker">
  </body>
  <script>
    $(document).ready(function(){
        var unavailableDates = {{ formatted_dates|safe }};
        var twoWeeksFromNow = new Date();
        twoWeeksFromNow.setDate(twoWeeksFromNow.getDate() + 14);
        $( "#datepicker" ).datepicker({
          minDate: 0,
          maxDate: "+14D",
          beforeShowDay: function(date){
            var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
            return [ unavailableDates.indexOf(string) == -1 ]
          }
        });
    });
  </script>
</html>
