{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/oeuvres.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon" type="image/png" href="{%static 'img/home/darJ.png'%}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GestMusee-Oeuvres</title>
</head>

<body>
    <header>
        <nav><img src="{%static 'img/home/darJ.png'%}">
            <ul id="action" style="margin-left:42%">
                <li><a href="/" class="hover-underline-animation">Acceuil</a></li>
            </ul>
            <!-- new button hamburger -->
            <!-- <button id="menu">
              <span></span>
              <span></span>
              <span></span>
          </button> -->
          <!-- end -->
          </nav>
        </header>
    {% for oeuvres in oeuvre.all %}
    <div class="row ">
        <div class="imgWrapper">
            <img src="{{ oeuvres.image.url }}" alt="">
        </div>
        <div class="contentWrapper">
            <div class="content">
                <span class="textWrapper">
                    <span></span>Oeuvres
                </span>
                <h2>{{ oeuvres.titre }}</h2>
                <p>{{ oeuvres.notes }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

    <a class="gotopbtn" href="#"> <em class="fas fa-arrow-up"></em> </a>

  <script src="{%static 'js/oeuvres.js'%}" ></script>


</body>

</html>