{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/oeuvres.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon" type="image/png" href="img/home/darJ.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GestMusee-Oeuvres</title>
</head>

<body>
    <header>
        <nav><img src="img/home/darJ.png">
            <ul id="action" style="margin-left:42%">
                <li><a href="" class="hover-underline-animation">Acceuil</a></li>
            </ul>
            <!-- new button hamburger -->
            <!-- <button id="menu">
              <span></span>
              <span></span>
              <span></span>
          </button> -->
          <!-- end -->
          </nav>
        </header>

    <div class="row ">
        <div class="imgWrapper">
            <img src="img/home/oe1.jpg" alt="">
        </div>
        <div class="contentWrapper">
            <div class="content">
                <span class="textWrapper">
                    <span></span>Oeuvres
                </span>
                <h2>Gnawa</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil id reiciendis quo recusandae? Sapiente rem omnis, nam consequuntur dignissimos libero maiores, voluptates quod accusamus doloribus fuga ducimus quibusdam tenetur placeat ratione quidem soluta laboriosam animi in repellat qui mollitia atque.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="imgWrapper">
            <img src="img/home/oe2.jpg" alt="">
        </div>
        <div class="contentWrapper">
            <div class="content">
                <span class="textWrapper">
                    <span></span>Oeuvres
                </span>
                <h2>Zelige</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil id reiciendis quo recusandae? Sapiente rem omnis, nam consequuntur dignissimos libero maiores, voluptates quod accusamus doloribus fuga ducimus quibusdam tenetur placeat ratione quidem soluta laboriosam animi in repellat qui mollitia atque.</p>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="imgWrapper">
            <img src="img/home/oe3.jpg" alt="">
        </div>
        <div class="contentWrapper">
            <div class="content">
                <span class="textWrapper">
                    <span></span>Oeuvres
                </span>
                <h2>Bab</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil id reiciendis quo recusandae? Sapiente rem omnis, nam consequuntur dignissimos libero maiores, voluptates quod accusamus doloribus fuga ducimus quibusdam tenetur placeat ratione quidem soluta laboriosam animi in repellat qui mollitia atque.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="imgWrapper">
            <img src="img/jm.jpg" alt="">
        </div>
        <div class="contentWrapper">
            <div class="content">
                <span class="textWrapper">
                    <span></span>Oeuvres
                </span>
                <h2>Ryad</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil id reiciendis quo recusandae? Sapiente rem omnis, nam consequuntur dignissimos libero maiores, voluptates quod accusamus doloribus fuga ducimus quibusdam tenetur placeat ratione quidem soluta laboriosam animi in repellat qui mollitia atque.</p>
            </div>
        </div>
    </div>

    <a class="gotopbtn" href="#"> <em class="fas fa-arrow-up"></em> </a>

  <script src="js/oeuvres.js" ></script>


</body>

</html>